<div class="jumbotron">
    <div class="container">
        <h2 class="display-4">Welcome!</h2>
        <i>
        FOotball Chelas Application is an application for creating groups of your favorite football teams.
        <br>
        You can also build and manage your groups of football teams.
        </i>
    </div>
</div>