<li class="nav-item">
    <a class="navbar-brand" href="#home">
        <img src="https://cdn.discordapp.com/attachments/428225396102660106/529357851437694986/foca.png"
            width="35px" height="35px" class="d-inline-block align-top">
    </a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="#home">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#leagues">Leagues</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#groups">Groups</a>
</li>
{{#if auth}}
<li class="nav-item">
    <a class="nav-link" href="#logout">Logout</a>
</li>
<li class="navbar-text" id="loggedUsername"> 
    {{fullname}}
</li>
{{else}}
<li class="nav-item">
    <a class="nav-link" href="#login">Login</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#signup">Sign up</a>
</li>
{{/if}}