<div>
    <h2>Welcome!</h2>
    <br>
    <i>
        FOotball Chelas Application is an application for creating groups of your favorite football teams.
        <br>
        You can also build and manage your groups of football teams.
    </i>
</div>